.job-card-cnt {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin: 20px auto;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}
.job-card-details-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}