.dashboard-main-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard-jobs-pannel-cnt {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.dashboard-jobs-pannel-col-cnt {
    width: 250px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.dashboard-jobs-pannel-col-header {
    width: 88%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}
.dashboard-jobs-pannel-col-counter {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: beige;
}
.dashboard-jobs-list-cnt {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.dashboard-applied-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-interview-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-offer-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-hired-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-rejected-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}