.dashboard-main-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard-header-cnt {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard-header-avatar-cnt {
    width: 36.5px;
    height: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: purple;
    margin: 0px 20px;

    span {
        font-family: SF Pro Text;
        font-weight: 600;
        color: white;
    }
    &:hover {
        cursor: pointer;
    }
}
.dashboard-profile-menu-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-jobs-pannel-cnt {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.dashboard-jobs-pannel-col-cnt {
    width: 250px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.dashboard-jobs-pannel-col-header {
    width: 88%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}
.dashboard-jobs-pannel-col-counter {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: beige;
}
.dashboard-jobs-list-cnt {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.dashboard-applied-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-interview-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-offer-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-hired-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-rejected-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}