.dashboard-main-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard-header-cnt {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard-jobs-pannel-cnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboard-jobs-list-cnt {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.dashboard-applied-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-interview-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-offer-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-hired-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}
.dashboard-rejected-jobs-cnt {
    @extend .dashboard-jobs-list-cnt;
}