@font-face {
  font-family: "SF Pro Text";
  src: url("../src/assets/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
}
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;

  span {
    font-family: SF Pro Text;
  }
}